/* 样式重置 */
*, ul, ol, li{
    padding:0;
    margin:0;
}
html{
    background-color: #efefef;
}
body {
    font: 14px SourceHanSansCN-ExtraLight, "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: transparent;
}
li{
    list-style:none;
}
a {
    color: #004d40;
    text-decoration:none !important;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
/* 工具样式 */
.f-db{ display: block;}
.f-pr{ position:relative;}
.f-mt-60{ margin-top: 60px;}
.f-mb-20{ margin-bottom: 20px;}

/* 布局样式 */
.g-center{
    width:1120px;
    margin:100px auto 0;
}

/* 头部 */
header{
    background-color: white;
    border-bottom: 1px solid #d3cdca;
}
header .inner{
    width: 1120px;
    margin: 0 auto;
}
header .logo a{
    display: block;
    height:60px;
    padding:10px 0;
    font-size:28px;
    line-height:40px;
}
header .search .box{
    margin:11px 0 11px 20px;
    border:1px solid #b2dfdb;
}
header .search input{
    float:left;
    width: 360px;
    height: 36px;
    line-height:18px;
    padding:9px 10px;
    border: 0;
    outline: 0;
    margin: 0;
}
header .search .search-btn{
    float:left;
    width:36px;
    height:36px;
    border-left:1px solid #e0f2f1;
}
header .search .search-btn img{
    width:16px;
    margin:10px;
}
header .user li{
    float:left;
}
header .user li a:hover{
    background-color:#e0f2f1;
}
header .user .info{
    display:block;
    position:relative;
    height:60px;
    padding:18px;
}
header .user .info img{
    width:24px;
    height:24px;
}
header .user .badge{
    top: 10px;
    right:5px;
}
header .user .avatar{
    display:block;
    height:60px;
    margin-left:10px;
    padding:12px;
    border-left:1px solid #e0f2f1;
}
header .user .avatar img{
    margin-right:3px;
    width:36px;
    height:36px;
    border-radius: 18px;
}